/*   products slider   */
#slider {
    position: relative;
    overflow: hidden;
}



#box-container{
    position: relative;
    height: 50vh;
    /*overflow: hidden;*/
    transition: .4s ease-in-out all;
}


.box{
    width:300px;
    height: 100%;
    /*box-shadow: 2px 2px 30px rgba(0,0,0,0.2);*/
    overflow: hidden;
    margin: 20px;
    position: absolute;
    margin: 0 10px;
    border: 2px solid white;
}

.box-img{
    height: 450px;

}

.box-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.box-text{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:10%;
}

.box-text h3 {
    background-color: white;
    width: 140px;
    text-align: center;
    font-size: 16px;
    padding: 3px 0;
}

.slider-btn {
    font-size: 30px;
    position: absolute;
    top: 50%;

    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.77);
}

.right-btn {
    right: 0;
}

.left-btn {
    left:0;
}

@media screen and (min-width: 576px) {
    .box-container {
        height: 55vh;
    }
}
@media screen and (min-width: 768px) {
    .box-container {
        height: 55vh;
    }
}
@media screen and (min-width: 992px) {
    .box-container {
        height: 65vh;
    }
}


/* Featured Product */
#featured-product {
    padding:80px 0 40px 0;
}

    /* Title */
.title {
    margin-bottom: 50px;
    text-align: center;
}

.title h2 {
    color:#1c1c1c;
    font-size:35px;
    position: relative;
}

.title h2::after {
    position: absolute;
    right:0;
    left:0;
    width:80px;
    margin:0 auto;
    bottom: -15px;
    height: 4px;
    background-color: #ea0d2e;
    content: '';
}

.list-featured {
    margin-bottom: 50px;
    text-align: center;
}

.list-featured ul li {
    display: inline-block;
}

.list-featured li a {
    color:#1c1c1c;
    font-size:16px;
    margin-left:12px;
}

.list-featured ul li:last-child a {
    margin-left: 0;
}

.list-featured ul li a:active {
    border-bottom: 1px solid #ea0d2e;
}

    /* Products */
.product-item {
    margin-bottom: 50px;
}

.product-pic {
    height: 270px;
    overflow:hidden;
    position: relative;
    background-position: center;
    background-size: cover;
}

.pic1 {
    background-image: url("../image/prod12.png");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.pic2 {
    background-image: url("../image/prod22.png");
}

.pic3 {
    background-image: url("../image/prod32.png");
}

.pic4 {
    background-image: url("../image/prod42.png");
}

.pic5 {
    background-image: url("../image/prod52.png");
}

.pic6 {
    background-image: url("../image/prod62.png");
}

.pic7 {
    background-image: url("../image/prod72.png");
}

.pic8 {
    background-image: url("../image/prod82.png");
}

.product-pic {
    text-align: center;
    background-color: #cbcbcb;
}

.hover-product li {
    display: inline-block;
    padding-left: 10px;
}

.hover-product li a {
    color:#1c1c1c;
    font-size: 16px;
    width:40px;
    height: 40px;
    background-color:white;
    border-radius: 50%;
    padding: 6px;
}

.hover-product li a i {
    transform: rotate(0);
    transition: .3s;
}

.hover-product li a:hover {
    color:white;
    background: #ea0d2e;

}

.hover-product li a:hover i {
    transform: rotate(360deg);
    transition: .3s;
}

.hover-product {
    position: absolute;
    bottom:-40px;
    text-align: center;
    width:100%;
    transition: .3s;
}

.product-pic:hover .hover-product {
    bottom: 20px;
}

@media screen and (min-width: 250px) and (max-width: 990px) {
    .hover-product {
        bottom: 20px;
    }
}

.product-text {
    text-align: center;
    padding-top:15px;
}

.product-text h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-text h4 a {
    color:#252525;
}

.product-text h5 {
    color:#252525;
    font-size:18px;
    font-weight: bold;
    font-family: tanha;
}

/* Banner */
.banner1 {
    background-image: url("../image/banner1New.jpg");
    background-color: deepskyblue;
}

.banner2 {
    background-image: url("../image/banner2New.jpg");
}

.banner {
    background-size: cover;
    background-position: left center;
    min-height: 215px;
    max-height: 265px;
    max-width:100%;
    padding: 60px 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.banner h4 {
    font-size:25px;
    font-weight: bold;
}

.banner p {
    color: #1c1c1c;
    font-size:14px;
    font-family: tanha;
}

.banner a {
    margin-top:10px;
    display: block;
    background-color:white;
    color: #ea0d2e;
    width:80px;
    font-family: tanha;
    font-size: 15px;
    padding:5px 10px;
    text-align: center;
    transition: .3s;
}

.banner a:hover {
    background: transparent;
    color:white;
}
